@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    to right bottom,
    #020105,
    #060514,
    #0a0920,
    #0a0a23,
    #060516
  );
  height: 100vh;
}

@media (min-width: 1600px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 40%;
  }
}
